
  /*bodyLibrello {font-family:'Times New Roman',serif;font-size:14px}*/
   p.HorizontalLineLibrello {margin-left:0;margin-right:0;margin-top:0;margin-bottom:13.6032px;border-top:none;border-bottom:1.0px solid #808080;border-left:none;border-right:none;padding:0;font-size:8.0px}
  
  .TypeofArticleLibrello{
  			font-style: italic;
  			margin-bottom: 15px;
  }
  
   
   .TitleLibrello{
   			margin-left:0;
   			margin-right:0;
   			margin-top:0;
   			margin-bottom:9.446401px;
   			border:none;
   			padding:0;
   			text-align:left;
   			font-family:Tahoma,sans-serif;
   			font-weight:bold;
   			font-size:24px;
   			color:#800000;
   			}
   			
   	.TitleLibrelloCIS{	
   	color:#005500;
   	}
   
   .AuthorsLibrello{
   			
  			margin-bottom: 15px;
   }
   
   .AffiliationLibrello{
   			margin-bottom: 15px;
   }
   
   .affIndexLibrello,.Authorsaffindex{
   font-size:8px;
   vertical-align:super
   }
   
   .SubmissionDateLibrello{
   margin-bottom: 15px;
   }
   
   .AbstractLibrello,.KeywordsLibrello{
   		margin-bottom: 15px;
   		margin-left: 5%;
   		width: 80%;
   }
   .AbstractLibrello > span,.KeywordsLibrello > span{
   		color:#800000;
   		font-weight: bold;
   }
   
    .h1TitleLibrello, .hiTitleLibrello {
      margin-top:18px;
      margin-bottom:18px;
      font-weight:bold;
      font-size:14px;
      color:#800000;
      clear:left
     }
     /*
   .sectionColumnsLibrello{
   -moz-column-count:2; /* Firefox *
-webkit-column-count:2; /* Safari and Chrome *
column-count:2;
   }*/
   
   .sectionColumnsLibrello  p{
  /* text-indent : 10px;*/ 
   }
   
   
   .boldlibrello{
   font-weight: bold;
   }
   .italicsLibrello{
   font-style: italic;
   }
   
   .equationsWraper{
   text-align:center;
   }
   
   .equationsIndex{
   margin-left:80px;
   }
      
    .figuresLibrello{
    text-align: center;
    }
    
    .figuresCaptionLibrello{
    text-align: center;
    }  
    
    
    .tablesLibrello{
    margin-left:auto; 
    margin-right:auto;
    padding-bottom: 50px;
    padding-top: 20px;
    }
    
    .tablesCaptionLibrello{
    text-align: center;
    padding-top: 30px;
    } 
    
   /*
      span.PageNumber {}
      span.Emphasis {font-style:italic}
      a:link {color:#000080;text-decoration:underline}
      
      p.Textbody {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;font-family:Tahoma,sans-serif;font-size:13.333334px}
      */
      /*p.Bibliography1 {margin-left:0;margin-right:0;margin-top:0;margin-bottom:0;border:none;padding:0;text-indent:18.864px;font-size:16.0px}*/
     
     
    